@inherits Umbraco.Web.Mvc.UmbracoViewPage

<footer id="footer-styles" class="page-footer font-small">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Stechford Allotments</a>
  </div>
  <!-- Copyright -->

</footer>